{{ define "main" }}
  <div class="mx-auto mb-2 mt-12 flex max-w-screen-xl flex-col items-center justify-center">
    {{/* Add image and title */}}
    {{ $image := resources.GetMatch (print "**" .Site.Params.Author.image) }}
    {{ $name := .Params.name | default .Site.Params.Author.name }}
    {{ $icon := .Params.icon | default .Site.Params.Author.icon }}
    {{ with $image }}
      {{ $image = $image.Filter (images.Process "resize 288x288 Lanczos q100 webp" ) }}
      <div class="relative w-48">
        <img class="mb-2 h-48 w-48 rounded-full" width="192" height="192" alt="{{ $name | default "Author" }}" src="{{ $image.RelPermalink }}" />
        {{ with $icon }}
          <div class="absolute bottom-4 right-0 flex h-10 w-10 items-center justify-center rounded-full border-2 border-solid border-slate-50 bg-neutral-300 dark:bg-neutral-500">
            {{ . | emojify }}
          </div>
        {{ end }}
      </div>
    {{ end }}


    <h1 class="text-center text-4xl font-extrabold text-slate-700 dark:text-slate-200">
      {{ $name | markdownify | emojify }}
    </h1>

    {{ with .Params.jobTitle }}
      <h2 class="mt-2 text-center text-2xl text-slate-500 dark:text-slate-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    <div class="mt-4 flex flex-wrap items-center justify-center">
      {{ range $links := .Site.Params.Links }}
        {{ range $type, $data := $links }}
          {{ $href := $data }}
          {{ $icon := $type }}
          {{ $iconPath := resources.Get (print "icons/" $icon ".svg") }}
          {{ with $iconPath }}
            <a class="link" href="{{ $href }}" target="_blank" rel="me noopener noreferrer" aria-label="{{ $icon }}">
              <span class="link_svg">
                {{ $iconPath.Content | safeHTML }}
              </span>
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="justify-left mx-auto mt-8 flex max-w-screen-lg px-4">
    <article>
      {{ if .Params.bio }}
        <h1 class="mb-4 text-4xl font-extrabold text-slate-700 dark:text-slate-200">Biography</h1>
        <span class="prose prose-slate break-words text-lg text-slate-700 dark:prose-invert prose-pre:max-w-[90vw] dark:text-slate-200 md:prose-pre:max-w-screen-md">
          {{ .Content }}
        </span>
      {{ end }}
    </article>
  </div>
{{ end }}
