<!doctype html>
{{- $lang_code := site.LanguageCode | default "en-us" -}}
<html lang="{{ $lang_code }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="flex h-screen flex-col justify-between bg-neutral-100 dark:bg-neutral-800">
    <div>
      <header class="sticky top-0 z-10 bg-neutral-100 dark:bg-neutral-800">
        {{ partial "navbar" . }}
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    <footer>
      {{ partial "footer" . }}
    </footer>
  </body>
</html>
