{{ define "main" }}
  {{/* Title */}}
  <div class="justify-left mx-auto mt-8 flex max-w-screen-xl px-4">
    <article>
      <h1 class="text-4xl font-extrabold text-slate-700 dark:text-slate-200">
        {{ .Title | emojify }}
      </h1>
      <div class="mt-2 text-lg text-slate-500 dark:text-slate-400">
        {{ .Content | emojify }}
      </div>
    </article>
  </div>

  {{/* Grid of blog posts */}}
  <div class="mx-auto max-w-screen-xl">
    <div class="mt-8 grid grid-flow-row grid-cols-1 justify-items-center gap-8 px-4 lg:grid-cols-2">
      {{ range .Pages.ByDate.Reverse }}
        {{ $cardimage := resources.GetMatch .Params.cardimage }}
        <a href="{{ .RelPermalink }}">
          <div class="flex h-full max-h-80 w-full max-w-2xl flex-row rounded-xl bg-neutral-300 bg-clip-border text-slate-400 shadow-md dark:bg-neutral-700">
            {{ with $cardimage }}
              {{ $cardimage = $cardimage.Filter (images.Process "fit 400x600 Lanczos q80 webp" ) }}
              <div class="m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-clip-border dark:bg-neutral-700">
                <img src="{{ $cardimage.RelPermalink }}" alt="image" class="h-full w-full object-cover" />
              </div>
            {{ end }}
            <div class="flex flex-col justify-between p-6">
              <div>
                <h4 class="mb-2 line-clamp-2 text-base font-semibold text-slate-700 antialiased md:text-2xl dark:text-slate-200">
                  {{ .Title }}
                </h4>
                <p class="mb-4 line-clamp-6 text-base text-slate-500 dark:text-slate-400">
                  {{ .Summary | emojify }}
                </p>
              </div>
              <div class="flex flex-row justify-between">
                <div class="flex items-center -space-x-3">
                  {{ range $authors := .Params.authors }}
                    {{ range $name, $image := $authors }}
                      {{ $imgPath := resources.GetMatch $image }}
                      {{ with $imgPath }}
                        {{ $imgPath = $imgPath.Filter (images.Process "resize 40x40 webp" ) }}
                        <img class="h-9 w-9 rounded-full border-2 border-slate-50 object-cover object-center" alt="{{ $name }}" src="{{ $imgPath.RelPermalink }}" />
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </div>
                <div class="p-3 text-xs text-slate-500 dark:text-slate-400">
                  {{ .Date | time.Format ":date_medium" }}
                </div>
              </div>
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
