name: 'Labeler'

on:
  workflow_dispatch:
  pull_request:
    branches: ['main']

permissions:
  contents: read
  pull-requests: write

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Labeler
        uses: actions/labeler@v6.0.1
        with:
          configuration-path: .github/labeler.yaml
