name: Sync labels
on:
  push:
    paths: ['.github/labels.yaml']
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  labels:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2

      - name: sync labels
        uses: EndBug/label-sync@v2.3.3
        with:
          config-file: .github/labels.yaml
          delete-other-labels: true
          token: ${{ secrets.GITHUB_TOKEN }}
